[submodule "wgans/data/models"]
	path = wgans/data/models
	url = hub@eye0.com:wganss/data/models
[submodule "wgans/training"]
	path = wgans/data/training
	url = hub@eye0.com:wganss/data/training
[submodule "wgans/data/prepped"]
	path = wgans/data/prepped
	url = hub@eye0.com:wganss/data/prepped
[submodule "wgans/data/tests"]
	path = wgans/data/tests
	url = hub@eye0.com:wganss/data/tests
